<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commande</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Commande</h1>
<table class="table">
    <tr><th colspan="4" ><a th:href="@{'addCommande'}"  class="btn btn-dark">Ajouter</a></th></tr>
    <tr>
        <th>Referance</th>
        <th>Status</th>
        <th>Prix</th>
        <th>Client</th>
        <th>Action 1</th>
        <th>Action 2</th>
    </tr>
    <tr th:each="commande : ${commandes}">
        <td th:text="${commande.referance}"></td>
        <td th:text="${commande.status}"></td>
        <td th:text="${commande.prix}"></td>
        <td th:text="${commande.client.getNom()}"></td>
        <td><a th:href="@{/editClient/{id}(id=${commande.id})}" class="btn btn-dark">Edit</a></td>
        <td><a onclick="return confirm('tes-vous sur ?')" th:href="@{/deleteClient/{id}(id=${commande.id})}" class="btn btn-dark">Supprimer</a></td>
    </tr>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"  crossorigin="anonymous"></script>
</body>
</html>